@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#eeeeee;
  height: 30px;

}


.left-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

.right-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}


img {
  width: 600px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.input {

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: smaller;
  color: rgb(36, 36, 36);
  text-decoration: none;
}